
.icon-mail:before { content: '\e800'; } /* '' */
.icon-tumblr-1:before { content: '\e801'; } /* '' */
.icon-mobile:before { content: '\e804'; } /* '' */
.icon-twitter-1:before { content: '\e805'; } /* '' */
.icon-github-1:before { content: '\e806'; } /* '' */